<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>User session</title>
</head>
<body>
<h4>User, welcome spring boot security page!</h4>
<form action="/logout" target="_blank">
    <button id="page-logOut-button"><- login page</button>
</form>

<table>
    <tr>
        <th>User name</th>
        <th>Role</th>
    </tr>
    <tr>
        <td><span th:text="${#authentication.name}"></span></td>
        <td><span th:text="${#authentication.authorities}"></span></td>
        <td><span th:text="${user.getEmail()}"></span></td>
    </tr>
</table>

<a th:href="@{/index}"><button type="button">GeneralPage</button></a>

</body>
</html>